{% extends 'school_base.html' %}
{% block title %}Create Events{% endblock %}
{% block header %}Create Events{% endblock %}
{% block content %}
<br><br><br>
<div class="form-attendance">
  <form method="post">
{% csrf_token %}
    <div class="row">
      <div class="col-25">
        <label for="fname">Start Date</label>
      </div>
      <div class="col-75">
      {{form.start_date}}
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Message</label>
      </div>
      <div class="col-75">
        {{form.message}}
      </div>
    </div>
    <div class="row">
     <input type="submit" value="Submit">
   </div>
</form>
</div>
{% endblock %}
