{% extends 'school_base.html'%}
{% block title %}Create Notice{% endblock %}
{% block header %}Create Notice{% endblock %}
{% block content %}
<br><b><br>
<div class="form-attendance">
  <form method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-25">
        <label for="fname">Title</label>
      </div>
    {{form.title}}
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Message</label>
      </div>
      {{form.message}}
    </div><br>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
{% endblock %}
